<div class="sidebar-left">
  <div class="navbar">
    <ul class="nav">
      <li>
        <% if request.path == "/customers" %>
          <%= link_to "Recent Customers", customers_path, class: "active nav-item" %><span class="active-arrow"></span>
        <% else %>
          <%= link_to "Recent Customers", customers_path, class: "nav-item" %>
        <% end %>
      </li>
      <li>
        <% if request.path == "/customers/search" %>
            <%= link_to "Search Customers", customers_path, class: "active nav-item" %><span class="active-arrow"></span>
          <% else %>
            <%= link_to "Search Customers", customers_path, class: "nav-item" %>
        <% end %>          
      </li>
      <li>
        <% if request.path == "/customers/new" %>
            <%= link_to "Add New Customer", new_customer_path, class: "active nav-item" %><span class="active-arrow"></span>
          <% else %>
            <%= link_to "Add New Customer", new_customer_path, class: "nav-item" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>