<div class="sidebar-left">
  <div class="navbar">
    <ul class="nav">
      
      <li>
        <% if ( current_user.can?("create", "orders")) %>
          <% if request.path == "/orders/custsearch" %>
            <%= link_to "New Order", orders_custsearch_path, class: "active nav-item" %><span class="active-arrow"></span>
          <% else %>
            <%= link_to "New Order", orders_custsearch_path, class: "nav-item" %>
          <% end %>
        <% end %>
      </li>
      <li>
        <% if ( current_user.can?("create", "orders")) %>
          <%= link_to "Walk In Customer", orders_walkin_path, class: "nav-item" %>
        <% end %>
      </li>
      <li>
        <% if ( current_user.can?("view", "orders")) %>
          <% if request.path == "/orders/pickup" %>
              <%= link_to "Pickup Orders", orders_pickup_path, class: "active nav-item" %><span class="active-arrow"></span>
            <% else %>
              <%= link_to "Pickup Orders", orders_pickup_path, class: "nav-item" %>
          <% end %>
        <% end %>
      </li>
      <li>
        <% if ( current_user.can?("view", "orders")) %>
          <% if request.path == "/orders/delivery" %>
              <%= link_to "Delivery Orders", orders_delivery_path, class: "active nav-item" %><span class="active-arrow"></span>
            <% else %>
              <%= link_to "Delivery Orders", orders_delivery_path, class: "nav-item" %>
          <% end %>
        <% end %>
      </li>
      <li>
        <% if ( current_user.can?("view", "orders")) %>
          <% if request.path == "/orders" %>
              <%= link_to "Today's Orders", orders_path, class: "active nav-item" %><span class="active-arrow"></span>
            <% else %>
              <%= link_to "Today's Orders", orders_path, class: "nav-item" %>
          <% end %>
        <% end %>
      </li>
      <li>
        <% if ( current_user.can?("view", "orders")) %>
          <% if request.path == "/orders/oldorders" %>
              <%= link_to "Old Orders", orders_oldorders_path, class: "active nav-item" %><span class="active-arrow"></span>
            <% else %>
              <%= link_to "Old Orders", orders_oldorders_path, class: "nav-item" %>
          <% end %>
        <% end %>
      </li>

      <li>
        <% if request.path == refunds_path %>
            <%= link_to "Refunds", refunds_path, class: "active nav-item" %><span class="active-arrow"></span>
          <% else %>
            <%= link_to "Refunds", refunds_path, class: "nav-item" %>
        <% end %>          
      </li>
  
    </ul>
  </div>
</div>