<%= form_for(user) do |f| %>
  <div class="form-group">
    <%= f.label :Name %>
    <%= f.text_field :Name, {:class => 'form-control'}  %>
  </div>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, {:class => 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, {:class => 'form-control'} %>
    <p>Password must be at 6-15 characters</p>
  </div>

    <h2>Roles</h2>
    <% # Add roles--only admins can add roles 
    if current_user.can? "create", "roles"
      @roles.each do |role| %>
      <p>
        <%= f.label role.name %> 
        <%= check_box_tag 'roles[]', role.name, "false" %>
      </p>
      <% end
    end 
    %>

  <% if user.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>