<%= render 'bars/top2' %>
<div class="wrapper has-sidebar-left">
  <%= render 'sidebars/loginside' %>
  	<div class="container main-content">
		<h1>New User</h1>
		
		<% if logged_in? %>	
		    <% if ( !current_user.can? "create", "users") %>
		    	<p> Sorry, you don't have the capabilities to do this </p>
	   		<% else %>
			<%= render 'form', user: @user %>
		    <% end %>

		<%= link_to 'Back', users_path %>

		<% else %>
			<p> You must be logged in to add a new user </p>

			<%= link_to 'Log In', login_path, :class => 'btn btn-primary btn-lg' %>

		<% end %> 
	</div>
</div