<%= render 'bars/top2' %>
<div class="wrapper has-sidebar-left">
  <%= render 'sidebars/loginside' %>
      <div class="container main-content">
        <p id="notice"><%= notice %></p>
        <% if flash[:danger].present? %>
          <div class="alert alert-danger"><%= flash[:danger] %></div>
        <% end %>
        <% if flash[:success].present? %>
          <div class="alert alert-success"><%= flash[:success] %></div>
        <% end %>

          <% 
          # Check capabilities
          if ( !logged_in? || (!current_user.can?("view", "users") && current_user != @user )) %>
          <p> Sorry, you don't have the capabilities to do this </p>
        <% else %>

        <p>
          <strong>Name:</strong>
          <%= @user.Name %>
        </p>

        <p>
          <strong>Username:</strong>
          <%= @user.username %>
        </p>

        <p><strong>Roles:</strong></p>
          <% @user.roles.each do |role| %>
          <p> <%= role.name %> </p>
          <% end %>

        <p>
          <strong>User Since:</strong>
          <%= @user.created_at.strftime("%l:%M %p %B %m, %Y") %>
        </p>

          <% if (current_user.can? "edit", "users") %>
          <%= link_to 'Edit', edit_user_path(@user) %>
          <% end %>
        
        <% end %>
        <%= link_to 'Back', users_path %>
  </div>
</div