<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user.Name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Driver:</strong>
  <%= !! @user.Driver ? 'Yes' : 'No' %>
</p>

<p>
  <strong>User Since:</strong>
  <%= @user.created_at.strftime("%l:%M %p %B %m, %Y") %>
</p>

<p>
  <strong>Manager:</strong>
  <%= !! @user.IsManager ? 'Yes' : 'No' %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
