<%= render 'bars/top2' %>
<div class="wrapper has-sidebar-left">
  <%= render 'sidebars/loginside' %>
      <div class="container main-content">
<p id="notice"><%= notice %></p>
<% if flash[:danger].present? %>
  <div class="alert alert-danger"><%= flash[:danger] %></div>
<% end %>
<% if flash[:success].present? %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.Name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Driver:</strong>
  <%= !! @user.has_role?(:driver) ? 'Yes' : 'No' %>
</p>

<p>
  <strong>User Since:</strong>
  <%= @user.created_at.strftime("%l:%M %p %B %m, %Y") %>
</p>

<p>
  <strong>Manager:</strong>
  <%= !! @user.has_role?(:admin) ? 'Yes' : 'No' %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> | 
<% if logged_in? %>
    <% if (current_user.has_role? :admin) %>
      <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %> 
  <% end %>
  </div>
</div>