<%= form_tag("/coupons/save", :method=>'post', :multipart => true) do %>
      
  <%= hidden_field_tag :id, @coupon.id %>
  
  <div class="field">
    <%= label_tag :Name %>
    <%= text_field_tag :Name, @coupon.Name %>
  </div>

  <div class="field">
    <%= label_tag :Type %>
    <%= select_tag :Type, "<option value='dollarsoff'>Flat Amount Off
    </option><option value='percentoff'>Percent Off</option>".html_safe, :selected => @coupon.Type %>
  </div>

  <div class="field">
    <%= label_tag "Flat Amount Off" %>
    <%= text_field_tag :DollarsOff, @coupon.DollarsOff %>
  </div>

  <div class="field">
    <%= label_tag :PercentOff %>
    <%= text_field_tag :PercentOff, @coupon.PercentOff %>
  </div>
  
  <% (0...10).each do |a| %>
  
    <div class="field">
      <% "Product " + a.to_s %>
      <%= label_tag "Product data" %>
      <% if !@coupon.ProductData.nil? %>
        <%= text_field_tag 'ProductData[]', @coupon.ProductData[a] %>
      <% else %>
        <%= text_field_tag 'ProductData[]' %>
      <% end %>
      
      <%= label_tag "Match type" %>
      <% if !@coupon.ProductType.nil? %>
        <%= select_tag 'ProductType[]', options_for_select({"Exact Product" => 0, "Category Match" => 1, "String Match" => 2}, @coupon.ProductType[a].to_i ) %>
      <% else %>
        <%= select_tag 'ProductType[]', options_for_select({"Exact Product" => 0, "Category Match" => 1, "String Match" => 2}) %>
      <% end %>
      
      <%= label_tag "Minimum required options" %>
      <% if !@coupon.ProductMinOptions.nil? %>
        <%= text_field_tag 'ProductMinOptions[]', @coupon.ProductMinOptions[a] %>
      <% else %>
        <%= text_field_tag 'ProductMinOptions[]' %>
      <% end %>
      
    </div>
  
  <% end %>

  <div class="actions">
    <%= submit_tag "Save" %>
  </div>
<% end %>