<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/couponside' %>
    <div class="container main-content">
      
      <%= render 'coupons/form' %>
      
      <%= link_to 'Show', coupons_path %>
      <%= link_to 'Back', coupons_path %>
    </div>
  </div>
</body>