<style>
  tr {
    padding: .2em;
  }
  td {
    padding: .2em;
  }
  
  
</style>

<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/optionside' %>
    <div class="container main-content">
      <h1>Editing All Option</h1>
      
      <%= form_tag("/options/changeallapply", :method=>'post', :multipart => true) do %>
      
        <%= submit_tag "Apply Changes", class: "btn btn-lg-orange" %>
        
        <br>
        Select a field to alter
        <%= select_tag "field", '<option value = "Name">Name</option><option value = "Cost">Price</option><option value = "category_id">Category</option><option value = "Abbreviation">Abbreviation</option>'.html_safe %>
        
        <br>
        Change the value to this
        <%= text_field_tag "changeto" %>
        
        <table>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Abbreviation</th>
          </tr>
          <% @options.each do |this| %>
           
            <tr>
              <td><%= this.Name %></td>
              <td><%= this.Cost %></td>
              <td><%= Category.find(this.category_id).Name %></td>
              <td><%= this.Abbreviation %></td>
              <td><%= check_box_tag "ids[]", this.id %></td>
            </tr>
              
          <% end %>
        </table>
        
      <% end %>
      
    </div>
  </div>
</body>