<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/optionside' %>
    <div class="container main-content">

      <h1>Editing Option</h1>
            
      <%= form_for(@option) do |f| %>
        <% if @option.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>
      
            <ul>
            <% @option.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="form-group">
          <%= f.label :Name, class: "form-group-header" %>
          <%= f.text_field :Name, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :Cost, class: "form-group-header" %>
          <%= f.text_field :Cost, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :category_id, class: "form-group-header" %>
          <%= f.collection_select(:category_id, Category.all, :id, :Name, {:class =>"form-control"} ) %>
        </div>
        
        <div class="form-group">
          <%= f.label :Abbreviation, class: "form-group-header" %>
          <%= f.text_field :Abbreviation, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :ChildOf, class: "form-group-header" %>
          <%= f.collection_select(:ChildOf, Option.where('category_id = ?', @option.category_id), :id, :Name, {:class =>"form-control", :prompt => 'none'} ) %>
        </div>
      
        <div class="actions">
          <%= f.submit "Save Changes", class: "btn btn-primary"%>
        </div>
      
      <% end %>      

    </div>
  </div>
</body>