<%= render 'bars/top' %>

<h1>Options</h1>

<table>
  <thead>
    <tr>
      <th><%= "Option Name" %></th>
      <th><%= "Category" %></th>
      <th><%= "Price" %></th>
      <th><%= "Double Item For" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.Name %></td>
        <td><%= @categories.find(option.category_id).Name %></td>
        <td><%= option.Cost %></td>
        <td><%= option.DoubleOf %></td>
        <td><%= link_to 'Show', option %></td>
        <td><%= link_to 'Edit', edit_option_path(option) %></td>
        <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option', new_option_path %>
