<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/optionside', locals: {category_id: @category_id } %>
    <div class="container main-content">
      
      <p id="notice"><%= flash[:notice] %></p>
      
      <h1>Options</h1>
      
      <div class="table">
        <table>
          <thead>
            <tr>
              <th><%= "ID" %></th>
              <th><%= "Option Name" %></th>
              <th><%= "Category" %></th>
              <th><%= "Price" %></th>
              <th><%= "Double Item For" %></th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @options.each do |option| %>
              <tr>
                <td><%= option.id %></td>
                <td><%= option.Name %></td>
                <td><%= @categories.find(option.category_id).Name %></td>
                <td><%= option.Cost %></td>
                <td><% if !option.ChildOf.nil? %><%= Option.find(option.ChildOf).Name %><% end %></td>
                <td><%= link_to 'Edit', edit_option_path(option), class: "btn btn-primary" %></td>
                <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <%= link_to 'New Option', new_option_path %>
    </div>
  </div>
</body>