<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Phone %>
    <%= f.text_field :Phone %>
  </div>

  <div class="field">
    <%= f.label :LastName %>
    <%= f.text_field :LastName %>
  </div>

  <div class="field">
    <%= f.label :FirstName %>
    <%= f.text_field :FirstName %>
  </div>

  <div class="field">
    <%= f.label :AddressNumber %>
    <%= f.text_field :AddressNumber %>
  </div>

  <div class="field">
    <%= f.label :StreetName %>
    <%= f.text_field :StreetName %>
  </div>

  <div class="field">
    <%= f.label :City %>
    <%= f.text_field :City %>
  </div>

  <div class="field">
    <%= f.label :State %>
    <%= f.text_field :State %>
  </div>

  <div class="field">
    <%= f.label :Zip %>
    <%= f.number_field :Zip %>
  </div>

  <div class="field">
    <%= f.label :Directions %>
    <%= f.text_field :Directions %>
  </div>

  <div class="field">
    <%= f.label :LastOrderNumber %>
    <%= f.number_field :LastOrderNumber %>
  </div>

  <div class="field">
    <%= f.label :FirstOrderDate %>
    <%= f.datetime_select :FirstOrderDate %>
  </div>

  <div class="field">
    <%= f.label :TotalOrderCount %>
    <%= f.number_field :TotalOrderCount %>
  </div>

  <div class="field">
    <%= f.label :TotalOrderDollars %>
    <%= f.text_field :TotalOrderDollars %>
  </div>

  <div class="field">
    <%= f.label :BadCkCount %>
    <%= f.number_field :BadCkCount %>
  </div>

  <div class="field">
    <%= f.label :BadCkTotal %>
    <%= f.text_field :BadCkTotal %>
  </div>

  <div class="field">
    <%= f.label :LongDelivery %>
    <%= f.check_box :LongDelivery %>
  </div>

  <div class="field">
    <%= f.label :LastOrderDate %>
    <%= f.datetime_select :LastOrderDate %>
  </div>

  <div class="field">
    <%= f.label :Notes %>
    <%= f.text_field :Notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
