<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Phone, class: "form-group-header" %>
    <%= f.text_field :Phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :LastName, class: "form-group-header" %>
    <%= f.text_field :LastName, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :FirstName, class: "form-group-header" %>
    <%= f.text_field :FirstName, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :AddressNumber, class: "form-group-header" %>
    <%= f.text_field :AddressNumber, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :StreetName, class: "form-group-header" %>
    <%= f.text_field :StreetName, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :City, class: "form-group-header" %>
    <%= f.text_field :City, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :State, class: "form-group-header" %>
    <%= f.text_field :State, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Zip, class: "form-group-header" %>
    <%= f.number_field :Zip, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Directions, class: "form-group-header" %>
    <%= f.text_field :Directions, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :LastOrderNumber, class: "form-group-header" %>
    <%= f.number_field :LastOrderNumber, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :FirstOrderDate, class: "form-group-header" %>>
    <%= f.datetime_select :FirstOrderDate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :TotalOrderCount, class: "form-group-header" %>
    <%= f.number_field :TotalOrderCount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :TotalOrderDollars, class: "form-group-header" %>
    <%= f.text_field :TotalOrderDollars, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :BadCkCount, class: "form-group-header" %>
    <%= f.number_field :BadCkCount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :BadCkTotal, class: "form-group-header" %>
    <%= f.text_field :BadCkTotal, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :LongDelivery, class: "form-group-header" %>
    <%= f.check_box :LongDelivery, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :LastOrderDate, class: "form-group-header" %>
    <%= f.datetime_select :LastOrderDate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Notes, class: "form-group-header" %>
    <%= f.text_field :Notes, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save Customer", class: "btn btn-primary" %>
  </div>
<% end %>
