<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/custside' %>
    <div class="container main-content">
      <h1>Customers</h1>
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Phone</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Address</th>
              <th>Long Delivery?</th>
              <th>Last Order</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td><%= customer.Phone %></td>
                <td><%= customer.LastName %></td>
                <td><%= customer.FirstName %></td>
                <td><%= customer.AddressNumber %>
                <%= customer.StreetName %>
                <%= customer.City %></td>
                <td><%= customer.LongDelivery ? 'Yes' : 'No'  %></td>
                <td><%= customer.LastOrderDate %></td>
                <td><%= link_to customer, class: "btn btn-primary" do %><span class="glyphicon glyphicon-list-alt"></span> Show<% end %></td>
                <td><%= link_to edit_customer_path(customer), class: "btn btn-primary" do %><span class="glyphicon glyphicon-pencil"></span> Edit<% end %></td>
                <td><%= link_to customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" do %><span class="glyphicon glyphicon-trash"></span> Delete<% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>  
      <br>
    
    </div>
  </div>
</body>