<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Phone</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Addressnumber</th>
      <th>Streetname</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Directions</th>
      <th>Lastordernumber</th>
      <th>Firstorderdate</th>
      <th>Totalorderdollars</th>
      <th>Totalordercount</th>
      <th>Badckamt</th>
      <th>Badckcount</th>
      <th>Longdelivery</th>
      <th>Lastorderdate</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.Phone %></td>
        <td><%= customer.LastName %></td>
        <td><%= customer.FirstName %></td>
        <td><%= customer.AddressNumber %></td>
        <td><%= customer.StreetName %></td>
        <td><%= customer.City %></td>
        <td><%= customer.State %></td>
        <td><%= customer.Zip %></td>
        <td><%= customer.Directions %></td>
        <td><%= customer.LastOrderNumber %></td>
        <td><%= customer.FirstOrderDate %></td>
        <td><%= customer.TotalOrderDollars %></td>
        <td><%= customer.TotalOrderCount %></td>
        <td><%= customer.BadCkAmt %></td>
        <td><%= customer.BadCkCount %></td>
        <td><%= customer.LongDelivery %></td>
        <td><%= customer.LastOrderDate %></td>
        <td><%= customer.Notes %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
