<div class="left around">
  <div class="under">
    <h3>Items Ordered</h3>
  </div>
  
  <% @orderlines.each do |a| %>
    <div class="item">
      <%= @products.find(a.product_id).Name %>
      <span class="right">
        <%= number_to_currency(a.ItemTotalCost) %>
      </span>
      
      <br>
      
      <% if a.whole? %> <%# list options if orderline is whole %>
        <% if a.Options1.nil? %> <%# tried to move this block to an html partial and for some reason the Options1 array will NOT pass in %>
          <%= "Plain" %>
        <% else %>
          <% @dif = @products.find(a.product_id).freeoptions - a.Options1 %> <%# grab any removed free items %>
          <% if !@dif.nil? %>
            <% @dif.each do |b| %>
              <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
            <% end %>
          <% end %>
          <% a.Options1.each do |b| %>
            <% if !@products.find(a.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
              <%= Option.find(b).Abbreviation %>
            <% end %>
          <% end %>
        <% end %>
        
      <% elsif a.halves? %> <%#list the options if the product is split in halves %>
        <%= "top: " %>
        <% if a.Options1.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% @dif = @products.find(a.product_id).freeoptions - a.Options1 %> <%# grab any removed free items %>
          <% if !@dif.nil? %>
            <% @dif.each do |b| %>
              <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
            <% end %>
          <% end %>
          <% a.Options1.each do |b| %>
            <% if !@products.find(a.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
              <%= Option.find(b).Abbreviation %>
            <% end %>
          <% end %>
        <% end %>
        <br>
        <%= "bot: " %>
        <% if a.Options2.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% @dif = @products.find(a.product_id).freeoptions - a.Options2 %> <%# grab any removed free items %>
          <% if !@dif.nil? %>
            <% @dif.each do |b| %>
              <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
            <% end %>
          <% end %>
          <% a.Options2.each do |b| %>
            <% if !@products.find(a.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
              <%= Option.find(b).Abbreviation %>
            <% end %>
          <% end %>
        <% end %>
        
      <% elsif a.quarters? %> <%#list the options if the product is split in halves %>
        <%= "Q1: " %>
        <% if a.Options1.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% @dif = @products.find(a.product_id).freeoptions - a.Options1 %> <%# grab any removed free items %>
          <% if !@dif.nil? %>
            <% @dif.each do |b| %>
              <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
            <% end %>
          <% end %>
          <% a.Options1.each do |b| %>
            <% if !@products.find(a.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
              <%= Option.find(b).Abbreviation %>
            <% end %>
          <% end %>
        <% end %>
        <br><%= "Q2: " %>
        <% if a.Options2.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% @dif = @products.find(a.product_id).freeoptions - a.Options2 %> <%# grab any removed free items %>
          <% if !@dif.nil? %>
            <% @dif.each do |b| %>
              <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
            <% end %>
          <% end %>
          <% a.Options2.each do |b| %>
            <% if !@products.find(a.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
              <%= Option.find(b).Abbreviation %>
            <% end %>
          <% end %>
        <% end %>
        <br><%= "Q3: " %>
        <% if a.Options3.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% @dif = @products.find(a.product_id).freeoptions - a.Options3 %> <%# grab any removed free items %>
          <% if !@dif.nil? %>
            <% @dif.each do |b| %>
              <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
            <% end %>
          <% end %>
          <% a.Options3.each do |b| %>
            <% if !@products.find(a.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
              <%= Option.find(b).Abbreviation %>
            <% end %>
          <% end %>
        <% end %>
        <br><%= "Q4: " %>
        <% if a.Options4.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% @dif = @products.find(a.product_id).freeoptions - a.Options4 %> <%# grab any removed free items %>
          <% if !@dif.nil? %>
            <% @dif.each do |b| %>
              <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
            <% end %>
          <% end %>
          <% a.Options4.each do |b| %>
            <% if !@products.find(a.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
              <%= Option.find(b).Abbreviation %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <br> 
      
      <% if a.HowCooked != "normal" %>
        Cooked: 
        <%= a.HowCooked.humanize %>
        <br>
      <% end %>
      
      <% if a.Comments.length > 1 %>
        Notes: 
        <i><%= a.Comments %></i>
        <br>
      <% end %>
    </div>
  <% end %>
</div>