<style>
.orderinfo1 {
	float: left;
	width: 40%;
	height: 200px;
	border: 2px solid black;
	overflow: auto;

}
.orderinfo2 {
	float: left;
	width: 30%;
	height: 200px;
	border: 2px solid black;
	overflow: auto;
	padding: 3px;
}
.orderinfo3{
	float: left;
	height: 200px;
	width: 29%;
	border: 2px solid black;
	overflow: auto;
	padding: 3px;
}
.item{
	border: 1px dotted black;
	margin: 1px 1px;
  font-size: 16px;
}
.itemleft {
  width: 77px;
  float: left;
  text-align: right;
  border-right: 1px solid black;
  padding-right: 6px;
}
.itemcenter {
  float: left;
  padding-left: 6px;
}
.itembuttons {
  float: right;
  padding-right: 2px;
  padding-top: 2px;
  padding-left: 4px;
  border-left: 1px solid black;
}
.itemcost {
  float: right;
  padding-right: 6px;
}
</style>

<div class="orderinfo1">

  <% Orderline.where("order_id = ?", @order.id).each do |orderline| %>
    <div class="item">
      <span class="itemleft">PRODUCT</span>
      <span class="itemcenter"><%= Product.find(orderline.product_id).Name %></span>
      <span class="itembuttons">
        <%= link_to "Modify", orders_chooseoptions_path(order_id: @order.id, orderline_id: orderline.id), class: "btn btn-primary" %>
        <%= link_to "Delete", orderline, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      </span>   
        <span class="itemcost"><%= number_to_currency(orderline.ItemTotalCost) %></span>
      <br>
      
      <% if orderline.whole? %> <%#list the options if the product is whole %>
        <span class="itemleft">ALL</span>
        <span class="itemcenter">
          <% if orderline.Options1.nil? %> 
            <%= "Plain" %>
          <% else %>
            <% @dif = Product.find(orderline.product_id).freeoptions - orderline.Options1 %> <%# grab any removed free items %>
            <% if @dif.nil? %>
              <% @dif.each do |b| %>
                <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
              <% end %>
            <% end %>
            <% orderline.Options1.each do |b| %>
              <% if !Product.find(orderline.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
                <%= Option.find(b).Abbreviation %>
              <% end %>
            <% end %>
          <% end %>
        </span>
        
      <% elsif orderline.halves? %> <%#list the options if the product is split in halves %>
        <span class="itemleft">TOP</span>
        <span class="itemcenter">
          <% if orderline.Options1.nil? %> 
            <%= "Plain" %>
          <% else %>
            <% @dif = Product.find(orderline.product_id).freeoptions - orderline.Options1 %> <%# grab any removed free items %>
            <% if @dif.nil? %>
              <% @dif.each do |b| %>
                <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
              <% end %>
            <% end %>
            <% orderline.Options1.each do |b| %>
              <% if !Product.find(orderline.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
                <%= Option.find(b).Abbreviation %>
              <% end %>
            <% end %>
          <% end %>
        </span>
        <br>
        <span class="itemleft">BOTTOM</span>
        <span class="itemcenter">
          <% if orderline.Options2.nil? %> 
            <%= "Plain" %>
          <% else %>
            <% @dif = Product.find(orderline.product_id).freeoptions - orderline.Options2 %> <%# grab any removed free items %>
            <% if @dif.nil? %>
              <% @dif.each do |b| %>
                <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
              <% end %>
            <% end %>
            <% orderline.Options2.each do |b| %>
              <% if !Product.find(orderline.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
                <%= Option.find(b).Abbreviation %>
              <% end %>
            <% end %>
          <% end %>
        </span>
        
      <% elsif orderline.quarters? %> <%#list the options if the product is split in quarters %>
        <span class="itemleft">Quarter 1</span>
        <span class="itemcenter">
          <% if orderline.Options1.nil? %> 
            <%= "Plain" %>
          <% else %>
            <% @dif = Product.find(orderline.product_id).freeoptions - orderline.Options1 %> <%# grab any removed free items %>
            <% if @dif.nil? %>
              <% @dif.each do |b| %>
                <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
              <% end %>
            <% end %>
            <% orderline.Options1.each do |b| %>
              <% if !Product.find(orderline.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
                <%= Option.find(b).Abbreviation %>
              <% end %>
            <% end %>
          <% end %>
        </span><br>
        <span class="itemleft">Quarter 2</span>
        <span class="itemcenter">
          <% if orderline.Options2.nil? %> 
            <%= "Plain" %>
          <% else %>
            <% @dif = Product.find(orderline.product_id).freeoptions - orderline.Options2 %> <%# grab any removed free items %>
            <% if @dif.nil? %>
              <% @dif.each do |b| %>
                <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
              <% end %>
            <% end %>
            <% orderline.Options2.each do |b| %>
              <% if !Product.find(orderline.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
                <%= Option.find(b).Abbreviation %>
              <% end %>
            <% end %>
          <% end %>
        </span><br>
        <span class="itemleft">Quarter 3</span>
        <span class="itemcenter">
          <% if orderline.Options3.nil? %> 
            <%= "Plain" %>
          <% else %>
            <% @dif = Product.find(orderline.product_id).freeoptions - orderline.Options3 %> <%# grab any removed free items %>
            <% if @dif.nil? %>
              <% @dif.each do |b| %>
                <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
              <% end %>
            <% end %>
            <% orderline.Options3.each do |b| %>
              <% if !Product.find(orderline.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
                <%= Option.find(b).Abbreviation %>
              <% end %>
            <% end %>
          <% end %>
        </span><br>
        <span class="itemleft">Quarter 4</span>
        <span class="itemcenter">
          <% if orderline.Options4.nil? %> 
            <%= "Plain" %>
          <% else %>
            <% @dif = Product.find(orderline.product_id).freeoptions - orderline.Options4 %> <%# grab any removed free items %>
            <% if @dif.nil? %>
              <% @dif.each do |b| %>
                <% if b != '' %><%= "-" + Option.find(b).Abbreviation %><% end %>
              <% end %>
            <% end %>
            <% orderline.Options4.each do |b| %>
              <% if !Product.find(orderline.product_id).freeoptions.include?(b) %> <%# don't print free option names %>
                <%= Option.find(b).Abbreviation %>
              <% end %>
            <% end %>
          <% end %>
        </span>
      <% end %>
      <br>
      

    </div>
    
  <% end %>
</div>


<div class="orderinfo2">
  <div class="orderitems">
    <% if !@order.nil? %>
      Order For: 
      <%= Customer.find(@order.customer_id).FirstName + " " + Customer.find(@order.customer_id).LastName %>
    <% else %>
      <%= "no current order" %>
    <% end %>
  </div>
</div>

<div class="orderinfo3">
  
  <%= form_tag("/orders/commitorder", :method=>'post', :multipart => true) do %>
  
    <% if @order.IsDelivery.nil? || @order.IsDelivery == false %>
      <%= label_tag :pickupordelivery_pickup, "Pickup" %>
      <%= radio_button_tag :pickupordeliveryouter, 'pickup', :checked => true %>
      <%= label_tag :pickupordelivery_delivery, "Delivery" %>
      <%= radio_button_tag :pickupordeliveryouter, 'delivery' %>
    <% elsif @order.IsDelivery == true %>
      <%= label_tag :pickupordelivery_pickup, "Pickup" %>
      <%= radio_button_tag :pickupordeliveryouter, 'pickup' %>
      <%= label_tag :pickupordelivery_delivery, "Delivery" %>
      <%= radio_button_tag :pickupordeliveryouter, 'delivery', :checked => true %>
    <% end %>
    <br>
    
    <%= label_tag :discount, "Discount" %>
    <%= text_field_tag :discount %>
    <br>
    
    <%= label_tag :user_id, "User Creating Order" %>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, "id", "Name", "1") %>
    <br>
    
    <%= label_tag :driver_id, "Driver" %>
    <%= select_tag :driver_id, options_from_collection_for_select(User.where("Driver IS true").all, "id", "Name", "1") %>
    <br>
    
    <%= label_tag :comments, "Comments" %>
    <%= text_field_tag :comments, nil, :maxlength => 255 %>
    <br>
    
    <%= hidden_field_tag :order_id, @order.id %>

    <%= submit_tag "Submit Order", class: "btn btn-primary" %>
    
    <%= submit_tag "Submit Order No Print", class: "btn btn-primary" %>

  <% end %>


</div>