<style>
.btn-group {
  border: 1px solid black;
  border-radius: 4px;
}
</style>

<div class="option">
  
  <% @options.each do |a| %>
  
    <% @relatedoptions = [] %>
    <% @relatedoptions.push((lead + a.id.to_s).to_s) %>
    
    
      <% if a.ChildOf.nil? %> <%# normal button %>
        <div class="btn-group" data-toggle="buttons">
          <% if !currentops.nil? %>
            <% if currentops.include?(a.id.to_s) %>
              <label class="btn btn-option active">
              <%= check_box_tag ops, a.id, true, id: ((lead + a.id.to_s).to_s) %><%= a.Abbreviation %>
              </label>
              <% else %>
              <label class="btn btn-option">
                <%= check_box_tag ops, a.id, false, id: ((lead + a.id.to_s).to_s) %><%= a.Abbreviation%>
              </label>
            <% end %>
          <% else %>
            <% if (@product.freeoptions).include?(a.id.to_s) %>
              <label class="btn btn-option active">
                <%= check_box_tag ops, a.id, true, id: ((lead + a.id.to_s).to_s) %><%= a.Abbreviation %>
              </label>
            <% else %>
              <label class="btn btn-option">
                <%= check_box_tag ops, a.id, false, id: ((lead + a.id.to_s).to_s) %><%= a.Abbreviation%>
              </label>
            <% end %>
          <% end %>
          
          <% @options.each do |b| %>
            <% if b.ChildOf == a.id %>
              <% @relatedoptions.push(lead + b.id.to_s) %>
              <% if !currentops.nil? %>
                <% if currentops.include?(b.id.to_s) %>
                  <label class="btn btn-option active">
                  <%= check_box_tag ops, b.id, true, id: ((lead + b.id.to_s).to_s) %><%= b.Abbreviation %>
                  </label>
                <% else %>
                  <label class="btn btn-option">
                    <%= check_box_tag ops, b.id, false, id: ((lead + b.id.to_s).to_s) %><%= b.Abbreviation%>
                  </label>
                <% end %>
              <% else %>
                <% if (@product.freeoptions).include?(b.id.to_s) %>
                  <label class="btn btn-option active">
                    <%= check_box_tag ops, b.id, true, id: ((lead + b.id.to_s).to_s) %><%= b.Abbreviation %>
                  </label>
                <% else %>
                  <label class="btn btn-option">
                    <%= check_box_tag ops, b.id, false, id: ((lead + b.id.to_s).to_s) %><%= b.Abbreviation%>
                  </label>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          
          <% if @relatedoptions.length > 1 %>
  
            <script>
              <%= "$(document).ready(function() {" %>
              <% @relatedoptions.each do |this| %>
                <%= "$('#".html_safe + this.to_s + "').closest(\"label\").click(function(){".html_safe %>
                <%= "console.log('message');".html_safe %>
                <% @relatedoptions.each do |that| %>
                  <% if that != this %>
                    <%= "$('#".html_safe + that.to_s + "').prop(\"checked\", false);".html_safe %>
                    <%= "$('#".html_safe + that.to_s + "').closest(\"label\").removeClass(\"active\");".html_safe %>
                  <% end %>
                <% end %>
                <%= "});" %>
              <% end %>
            <%= "});" %>
            </script>
          
          <% end %>
        </div>
      <% end %>
    
  <% end %>
</div>