<div class="table">
  <table>
    <thead>
      <tr>
        <th><%= "Order Number" %></th>
        <th><%= "Ordered by" %></th>
        <th><%= "Ordered at" %></th>
        <th colspan="4"></th>
      </tr>
    </thead>
  
    <tbody>
      <% orders.each do |order| %>
        <tr>
          <td><%= order.DailyID %> <br>
          <td><%= Customer.find(order.customer_id).FirstName %> <%= Customer.find(order.customer_id).LastName %></td>
          <td><%= order.created_at.strftime("%I:%M %p %m/%d/%y") %> </td>
          <td><%= link_to orders_receipt_path(id: order.id, print: "no"), class: "btn btn-primary" do %><span class="glyphicon glyphicon-list-alt"></span> Receipt<% end %></td>
          <% if ( current_user.can?("destroy", "orders")) %>
            <td><%= link_to order, method: :delete, data: { confirm: 'Are you sure you want to DELETE this order?' },class: "btn btn-primary" do %><span class="glyphicon glyphicon-trash"></span> Delete<% end %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>