<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <div class="container main-content">
      <p id="notice"><%= notice %></p>

    <% # Check capabilities
    if ( !logged_in? || !current_user.can?("edit", "orders")) %>
      <p> Sorry, you don't have the capabilities to do that! <br/> You must be able to edit orders </p>

    <% else %>   
      <h1>Cash Out Order <%= @order.id %></h1>
      
      <% @orderlines.each do |a| %>
        <%= @products.find(a.product_id).Name %>
        <%= a.ItemTotalCost %><br>
      <% end %><br>
      
      <% if !@order.Coupons.nil? %>
        <%= "Coupons:" %><br>
        <% @order.Coupons.each do |b| %>
          <%= Coupon.find(b).Name %><%= " -" + Coupon.find(b).DollarsOff.to_s %><br>
        <% end %>
        <br>
      <% end %>
      
      <%= "Comments: " %>
      <%= @order.Comments %><br><br>
      <%= "Subtotal:" %>
      <%= @order.Subtotal %><br>
      <%= "Discount:"%>
      <%= @order.Discounts %><br>
      <%= "Taxes:" %>
      <%= @order.Tax %><br>
      <%= "Total Due" %>
      <%= @order.TotalCost %>
        

      
      <br>
      <br>
      <%= form_tag("/orders/cashedout", :method=>'post', :multipart => true) do %>
        <% if @order.IsDelivery %>
          <%= "Select Driver" %>
          <%= collection_select(:order, :DriverID, User.with_role(:driver), :id, :Name) %><br><br>
          <%= "Tip: " %><%= text_field_tag 'tip', @order.Tip %><br>
        <% end %><br>
        <%= "Cash or Credit: " %>
        <%= radio_button_tag 'cashorcredit', 'cash', true %> <%= "Cash" %>
        <%= radio_button_tag 'cashorcredit', 'credit' %> <%= "Credit" %><br><br>
        <%= "Amount being paid:" %>
        <%= text_field_tag 'amountpaid', @order.TotalCost %><br><br>
        <%= hidden_field_tag :id, @id %>
        <div class="actions">
          <%= submit_tag "Cash This Order Out" %>
        </div>
      <% end %>
      
      <br>
      <br>
      <br>
      <%= "Discount Amount:" %>
      <%= form_tag("/orders/cashout", :method=>'get', :multipart => true) do %>
          <%= text_field_tag 'discount' %>
          <%= hidden_field_tag :id, @id %>
        <div class="actions">
          <%= submit_tag "Adjust for Discount" %>
        </div>
      <% end %>
    <% end %>
      <br />
      
      <%= "Select coupons:" %>
      <%= button_to "Clear Coupons", orders_cashout_url, class: 'btn', method: :get, params: { cid: "clear", id: @id  } %><br>
      <% Coupon.all.each do |c| %>
        <%= button_to "Apply " + c.Name, orders_cashout_url, class: 'btn', method: :get, params: { cid: c.id, id: @id  } %><br>
      <% end %>
    </div>
  </div>
</body>