<style>
  .moneybox {
    width: 12%;
  }
  .right {
    float: right;
  }
  .break {
    float: none;
  }
</style>

<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <div class="container main-content">
      
      <h1><%= "Paid: Order" %> <%= @order.id %></h1>
      
      
      <%= "Comments: " %>
      <%= @order.Comments %><br><br>
      
      <% if @order.IsDelivery %>
        <%= "Driver: " %>
        <%= User.find(@order.DriverID).Name %>
        <br><br>
      <% end %>
      
      <div class="moneybox">
      
        
        <%= "Subtotal:" %>
        <span class="right"><%= number_to_currency(@order.Subtotal) %></span>
        <br>
        
        <% if @order.Discounts > 0.0 %>
          <%= "Discount:"%>
          <span class="right"><%= number_to_currency(@order.Discounts) %></span>
          <br>
        <% end %>
        
        <%= "Taxes:" %>
        <span class="right"><%= number_to_currency(@order.Tax) %></span>
        <br>
        
        <% if @order.IsDelivery %>
          Delivery Charge:
          <span class="right"><%= number_to_currency(@order.DeliveryCharge) %></span>
          <br>
        <% end %>
        
        
        <%= "Total Charge:" %>
        <span class="right"><%= number_to_currency(@order.TotalCost) %></span>
        <br><br>
        
        <%= "Tip: " %>
        <span class="right"><%= number_to_currency(@order.Tip) %></span> <br>
        
        <%= "Paid: " %>
        <span class="right"><%= number_to_currency(@order.AmountPaid) %></span><br>
        
        <%= "Change due: " %>
        <span class="right"><%= number_to_currency(@order.ChangeDue) %></span>
        
      </div>
        
    </div>
  </div>
</body>