<style>
  h1 {
    margin-top: .1em;
    margin-bottom: .1em;
  }
</style>

<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <div class="container main-content">
    <% # Check capabilities
    if ( !logged_in? || !current_user.can?("edit", "orders")) %>
      <p> Sorry, you don't have the capabilities to do that </p>

    <% else %>
      
      <% if flash[:notice].present? %>
        <p id="notice" class="alert alert-warning"><strong>Notice! </strong><%= flash[:notice] %></p>
      <% end %>
      
      <h1>
          <%= "Current Order for " %>
          <%= Customer.find(@order.customer_id).FirstName %>
          <%= " " %>
          <%= Customer.find(@order.customer_id).LastName %>
      </h1>
        
      <%= render 'currentorderbox', order: @order %>
      
      <div>
        <h2><%= Product.find(@orderline.product_id).Name %> Options</h2>
  
        <ul class="nav nav-tabs">
          <% if @orderline.whole? || (@orderline.splitstyle == nil) %>
            <li class="active"><a href="#whole" data-toggle="tab">Whole</a></li>
          <% else %>
            <li><a href="#whole" data-toggle="tab">Whole</a></li>
          <% end %>
          <% if @orderline.halves? %>
            <li class="active"><a href="#halves" data-toggle="tab">Halves</a></li>
          <% elsif Category.find(Product.find(@orderline.product_id).category_id).Splits == true %>
            <li><a href="#halves" data-toggle="tab">Halves</a></li>
          <% end %>
          <% if @orderline.quarters? %>
            <li class="active"><a href="#quarters" data-toggle="tab">Quarters</a></li>
          <% elsif Category.find(Product.find(@orderline.product_id).category_id).Splits == true %>
            <li><a href="#quarters" data-toggle="tab">Quarters</a></li>
          <% end %>
        </ul>

        <script type="text/javascript">
        $(function() {
          $("#whole").click(function(e) {
            // do the thing

          });

          $("a[href='#halves']").click(function(e) {
            // Get selected checkboxes from whole
            console.log("here");
            var selected = [];
            
            $('#whole input:checked').each(function() {
              var val = $(this).attr('value');
              $("#halves input[value='" + val+"']").prop('checked', true);

              // Add active class
              $("#halves input[value='" + val+"']").closest("label").addClass("active");
            });
          });

          $("a[href='#quarters']").click(function(e) {
            // Check from whole
            $('#whole input:checked').each(function() {
            var val = $(this).attr('value');
            $("#halves .option-1 input[value='" + val+"']").prop('checked', true);

            // Add active class
            $("#halves .option-1 input[value='" + val+"']").closest("label").addClass("active");
          });
          // Check from whole
          $('#halves .option-1 input:checked').each(function() {
            var val = $(this).attr('value');
            $("#quarters .option-1 input[value='" + val+"'], #quarters .option-2 input[value='" + val+"']").prop('checked', true);

            // Add active class
            $("#quarters .option-1 input[value='" + val+"'], #quarters .option-2 input[value='" + val+"']").closest("label").addClass("active");
         });

          $('#halves .option-2 input:checked').each(function() {
            var val = $(this).attr('value');
            $("#quarters .option-3 input[value='" + val+"'], #quarters .option-4 input[value='" + val+"']").prop('checked', true);

            // Add active class
            $("#quarters .option-3 input[value='" + val+"'], #quarters .option-4 input[value='" + val+"']").closest("label").addClass("active");
         });
        });
      });
        </script>
        
        <div class="tab-content">
          
          
          <!-- WHOLE -->
          <% if @orderline.whole? || (@orderline.splitstyle == nil) %>
            <div class="tab-pane active" id="whole">
          <% else %>
            <div class="tab-pane" id="whole">
          <% end %>
            <%= form_tag("/orders/addoptions", :method=>'post', :multipart => true) do %>
              Whole Pizza
              <div class="panel panel-default">
                <%= render 'optionscheckbox', ops: @ops1, product: @product, options: @options, currentops: @orderline.Options1, lead: "w" %>
              </div>
              <%= hidden_field_tag :order_id, @order.id %>
              <%= hidden_field_tag :orderline_id, @orderline.id %>
              <%= hidden_field_tag :splitstyle, "whole" %>
              <cooking style="float: right;">
                Cooking special?
                <%= select_tag :howcooked, options_for_select(Orderline.HowCookeds.keys.to_a, @orderline.HowCooked) %>
                Notes:
                <%= text_field_tag :comments, @orderline.Comments %>
              </cooking>
              <%= submit_tag "Save Item", class: "btn btn-lg-orange" %>
            <% end %>
          </div>
          
          
          <%# HALVES %>
          <% if @orderline.halves? || (@orderline.splitstyle == nil) %>
            <div class="tab-pane active" id="halves">
          <% else %>
            <div class="tab-pane" id="halves">
          <% end %>            
            <%= form_tag("/orders/addoptions", :method=>'post', :multipart => true) do %>
              Top Half
              <div class="panel panel-default option-1">
                <%= render 'optionscheckbox', ops: @ops1, product: @product, options: @options, currentops: @orderline.Options1, lead: "h1" %>
              </div>
              Bottom Half
              <div class="panel panel-default option-2">
                <%= render 'optionscheckbox', ops: @ops2, product: @product, options: @options, currentops: @orderline.Options2, lead: "h2" %>
              </div>
              <%= hidden_field_tag :order_id, @order.id %>
              <%= hidden_field_tag :orderline_id, @orderline.id %>        
              <%= hidden_field_tag :splitstyle, "halves" %>
              <cooking style="float: right;">
                Cooking special?
                <%= select_tag :howcooked, options_for_select(Orderline.HowCookeds.keys.to_a, @orderline.HowCooked) %>
                Notes:
                <%= text_field_tag :comments, @orderline.Comments %>
              </cooking>
              <%= submit_tag "Save Item", class: "btn btn-lg-orange" %>
            <% end %>
          </div>
          
          
          <%# QUARTERS %>
          <% if @orderline.quarters? || (@orderline.splitstyle == nil) %>
            <div class="tab-pane active" id="quarters">
          <% else %>
            <div class="tab-pane" id="quarters">
          <% end %>            
            <%= form_tag("/orders/addoptions", :method=>'post', :multipart => true) do %>
              Quarter 1
              <div class="panel panel-default option-1">
                <%= render 'optionscheckbox', ops: @ops1, product: @product, options: @options, currentops: @orderline.Options1, lead: "q1" %>
              </div>
              Quarter 2
              <div class="panel panel-default option-2">
                <%= render 'optionscheckbox', ops: @ops2, product: @product, options: @options, currentops: @orderline.Options2, lead: "q2" %>
              </div>
              Quarter 3
              <div class="panel panel-default option-3">
                <%= render 'optionscheckbox', ops: @ops3, product: @product, options: @options, currentops: @orderline.Options3, lead: "q3" %>
              </div>
              Quarter 4
              <div class="panel panel-default option-4">
                <%= render 'optionscheckbox', ops: @ops4, product: @product, options: @options, currentops: @orderline.Options4, lead: "q4" %>
              </div>
              <%= hidden_field_tag :order_id, @order.id %>
              <%= hidden_field_tag :orderline_id, @orderline.id %>            
              <%= hidden_field_tag :splitstyle, "quarters" %>
              <cooking style="float: right;">
                Cooking special?
                <%= select_tag :howcooked, options_for_select(Orderline.HowCookeds.keys.to_a, @orderline.HowCooked) %>
                Notes:
                <%= text_field_tag :comments, @orderline.Comments %>
              </cooking>
              <%= submit_tag "Save Item", class: "btn btn-lg-orange" %>
            <% end %>        
          </div>
          
          
        </div>
      </div>

      <% end %>
    </div>
  </div>
</body>