<style>
  .form-control, .group {
    width: 30%;
    min-width: 325px;
  }
  input.btn-lg {
    margin-top: 5px;
  }
  .btn-group {
    margin-bottom: 15px;
  }
  h3 {
    text-align: center;
    margin-bottom: 25px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
</style>

<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <% # Check capabilities
    if ( !logged_in? || !current_user.can?("edit", "orders")) %>
    <p> Sorry, you don't have the capabilities to do that </p>

    <% else %>
    <div class="container main-content">
      <%= form_tag("/orders/custsearch", :method=>'get', :multipart => true) do %>

        <div class="btn-group group left">
          <h1>Customer Search</h1>
          
          <div data-toggle="buttons">
          <label class="btn btn-option active"><%= radio_button_tag 'searchcriteria', 'phone', true %>Phone</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'name' %>Name</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'address' %>Address</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'city' %>City</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'zip' %>Zip</label>
          </div>
  

          <div class="form-group">
            <%= text_field_tag 'criteria', nil, class: "form-control" %>
          </div>
        
          <div class="actions group">
            <%= submit_tag "Search", class: "btn btn-lg" %>
          </div>
          
          <div class="group">
            <h3>OR</h3>
            <%= link_to "Walk In Customer", orders_walkin_path, class: "btn btn-primary btn-lg" %>  
          </div>
        
        </div>
      <% end %>
      
      
      <div class="btn-group group left">
        <% if defined?(@results) && @results.size > 0 %>
          <h1>Results</h1>
          <% @results.each do |a| %>
            <%= link_to (a.FirstName.to_s + " " + a.LastName.to_s + " - " + a.Phone.to_s + " - " + a.AddressNumber.to_s + " " + a.StreetName.to_s), orders_startorder_path(custid: a.id), class: "btn btn-primary" %> <br>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</body>
