<style>
  .form-control {
    width: 30%;
  }
  .btn-lg {
    width: 30%;
    margin-top: 5px;
  }
  .btn-group {
    margin-bottom: 15px;
  }
</style>

<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <div class="container main-content">
      <%= form_tag("/orders/custsearch", :method=>'get', :multipart => true) do %>
        <div class="select-employee">
          <h1>Select Employee</h1>
          <p class="form-group">
          <%= label_tag :user_id %>
          <%= select_tag :user_id, options_from_collection_for_select(@users, "id", "username", @selected_user_id ? @selected_user_id : @current_user.id ), {:class => 'form-control'}
           %>
          </p>
        </div>
        <div class="btn-group form-group" data-toggle="buttons">
          <h1>Customer Search</h1>
          <label class="btn btn-option active"><%= radio_button_tag 'searchcriteria', 'phone', true %>Phone</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'name' %>Name</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'address' %>Address</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'city' %>City</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'zip' %>Zip</label>

        </div>
        
        <div class="form-group">
          <%= text_field_tag 'criteria', nil, class: "form-control" %>
        </div>
        
        <div class="actions">
          <%= submit_tag "Search", class: "btn btn-lg" %>
        </div>
        
        
      <% end %>
      
      <% if defined?(@results) %>
        <h1>Results</h1>
        <% @results.each do |a| %>
          <%= link_to (a.FirstName.to_s + " " + a.LastName.to_s + " - " + a.Phone.to_s + " - " + a.AddressNumber.to_s + " " + a.StreetName.to_s), orders_startorder_path(custid: a.id), class: "btn btn-primary" %> <br>
        <% end %>
      <% end %>

    </div>
  </div>
</body>
