<style>
  .form-control, .group {
    width: 30%;
    min-width: 325px;
  }
  .group-cust {
    width: 55%;
  }
  input.btn-lg {
    margin-top: 5px;
  }
  .btn-group {
    margin-bottom: 15px;
  }
  h3 {
    text-align: center;
    margin-bottom: 25px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .full {
    width: 14%;
    border: 1px solid #D44D13 ;
    margin: 0em .1em;
  }
  .results {
    margin: .5em 0em;
    padding: .2em;
    overflow: hidden;
    background: rgb(221, 221, 221);
  }
  .results-wrapper {
    text-align: left;
  }
  .results-text {
    font-size: 1.4em;
    text-align: center;
    line-height: 2em;
    padding-left: .3em;
  }
  .clear {
    clear: both;
  }
  .btn-primary {
    border-radius: 0em;
  }
</style>

<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <% # Check capabilities
    if ( !logged_in? || !current_user.can?("edit", "orders")) %>
    <p> Sorry, you don't have the capabilities to do that </p>

    <% else %>
    <div class="container main-content">
      <%= form_tag("/orders/custsearch", :method=>'get', :multipart => true) do %>

        <div class="btn-group group left">
          <h1>Customer Search</h1>
          
          <div data-toggle="buttons">
          <label class="btn btn-option active"><%= radio_button_tag 'searchcriteria', 'phone', true %>Phone</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'name' %>Name</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'address' %>Address</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'city' %>City</label>
          <label class="btn btn-option"><%= radio_button_tag 'searchcriteria', 'zip' %>Zip</label>
          </div>
  

          <div class="form-group">
            <%= text_field_tag 'criteria', nil, class: "form-control" %>
          </div>
        
          <div class="actions group">
            <%= submit_tag "Search", class: "btn btn-lg" %>
          </div>
        <% end %>
          <div class="group">
            <h3>OR</h3>
            <%= link_to "Walk In Customer", orders_walkin_path, class: "btn btn-primary btn-lg" %>  
          </div>
        
        </div>
      
      
      
      <div class="btn-group group left group-cust">
        <% if defined?(@results) && @results.size > 0 %>
          <h1>Results</h1>
          <% @results.each do |a| %>
          <div class="results">
            <div class="results-text left">
              <div class="results-wrapper">
                <%= a.FirstName.to_s + " " + a.LastName.to_s + " - " + number_to_phone(a.Phone) + " - " + a.AddressNumber.to_s + " " + a.StreetName.to_s %>
              </div>
            </div>
            <%= link_to "Delivery", orders_startorder_path(custid: a.id, mode: "delivery") , class: "btn btn-primary full right" %>
            <%= link_to  'Pickup', orders_startorder_path(custid: a.id, mode: "pickup"), class: "btn btn-primary full right" %>
            
          </div>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</body>
