<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <div class="container main-content">
      
      <% if flash[:notice].present? %>
        <p id="notice" class="alert alert-warning"><strong>Notice! </strong><%= flash[:notice] %></p>
      <% end %>
      
      <h1>Delivery Orders</h1>
      <% if !@orders.empty? %>
        <div class="table" %>
          <table>
            <thead>
              <tr>
                <th><%= "Order Number" %></th>
                <th><%= "Ordered by" %></th>
                <th><%= "Ordered at" %></th>
                <th colspan="4"></th>
              </tr>
            </thead>
          
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= order.id %> <br>
                  <td><%= Customer.find(order.customer_id).FirstName %> <%= Customer.find(order.customer_id).LastName %> <br></td>
                  <td><%= order.created_at.strftime("%I:%M %p %m/%d/%y") %> </td>
                  <td><%= link_to 'Cash Out', orders_cashout_path(:id => order.id ), class: "btn btn-primary" %></td>
                  <td><%= link_to 'Edit', orders_selectproduct_path(order_id: order.id), class: "btn btn-primary" %></td>
                  <td><%= link_to 'Receipt', orders_receipt_path(id: order.id, print: "no"), class: "btn btn-primary" %></td>
                  <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-primary" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <h2>No delivery orders found</h2>
      <% end %>
    </div>
  </div>
</body>