<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <div class="container main-content">
      
      <p id="notice"><%= flash[:notice] %></p>
      
      <h1>Pending Orders</h1>
      <div class="table" %>
        <table>
          <thead>
            <tr>
              <th><%= "Order Number" %></th>
              <th><%= "Ordered by" %></th>
              <th><%= "Ordered at" %></th>
              <th colspan="5"></th>
            </tr>
          </thead>
        
          <tbody>
            <% if !@pending.empty? %>
              <% @pending.each do |order| %>
                <tr>
                  <td><%= order.id %> <br>
                  <td><%= @customers.find(order.customer_id).FirstName %> <%= @customers.find(order.customer_id).LastName %> <br></td>
                  <td><%= order.created_at %> </td>
                  <td><%= link_to 'Cash Out', orders_cashout_path(:id => order.id ), class: "btn btn-primary" %></td>
                  <td><%= link_to 'Edit', orders_selectproduct_path(order_id: order.id), class: "btn btn-primary" %></td>
                  <td><%= link_to 'Receipt', orders_receipt_path(id: order.id, print: "no"), class: "btn btn-primary" %></td>
                  <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-primary" %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
        
      
      <h1>Completed Orders</h1>
      <div class="table">
        <table>
          <thead>
            <tr>
              <th><%= "Order Number" %></th>
              <th><%= "Ordered by" %></th>
              <th><%= "Ordered at" %></th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @completed.each do |order| %>
              <tr>
                <td>Order # <%= order.id %> <br>
                Ordered by: <%= @customers.find(order.customer_id).FirstName %> <%= @customers.find(order.customer_id).LastName %> <br>
                Order time: <%= order.created_at %> </td>
                <td><%= link_to 'Show', order %></td>
                <td><%= link_to 'Edit', edit_order_path(order) %></td>
                <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <h1>Cancelled Orders</h1>
      <div class="table">
        <table>
          <thead>
            <tr>
              <th><%= "Order Number" %></th>
              <th><%= "Ordered by" %></th>
              <th><%= "Ordered at" %></th>
              <th colspan="4"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @cancelled.each do |order| %>
              <tr>
                <td>Order # <%= order.id %> <br>
                Ordered by: <%= @customers.find(order.customer_id).FirstName %> <%= @customers.find(order.customer_id).LastName %> <br>
                Order time: <%= order.created_at %> </td>
                <td><%= link_to 'Show', order %></td>
                <td><%= link_to 'Edit', edit_order_path(order) %></td>
                <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <h1>Refunded Orders</h1>
       
      <div class="table">
        <table>
          <thead>
            <tr>
              <th><%= "Order Number" %></th>
              <th><%= "Ordered by" %></th>
              <th><%= "Ordered at" %></th>
              <th colspan="4"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @refunded.each do |order| %>
              <tr>
                <td>Order # <%= order.id %> <br>
                Ordered by: <%= @customers.find(order.customer_id).FirstName %> <%= @customers.find(order.customer_id).LastName %> <br>
                Order time: <%= order.created_at %> </td>
                <td><%= link_to 'Show', order %></td>
                <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-primary" %></td>
                <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>