<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <div class="container main-content">
  
      <% if @pending.empty? && @cancelled.empty? && @refunded.empty? && @completed.empty? %>
        <h2>No orders yet today</h2>
      <% end %>
      
      <% if !@pending.empty? %>
        <h1>Pending Orders</h1>
        <%= render 'pending', orders: @pending %>
      <% end %>
      
      <% if !@completed.empty? %>
        <h1>Completed Orders</h1>
        <%= render 'completed', orders: @completed %>
      <% end %>
        
      <% if !@cancelled.empty? %>
        <h1>Cancelled Orders</h1>
        <%= render 'cancelled', orders: @cancelled %>
      <% end %>
    
      <% if !@refunded.empty? %>
        <h1>Refunded Orders</h1>
        <%= render 'refunded', orders: @refunded %>
      <% end %>
    </div>
  </div>
</body>