<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/orderside' %>
    <div class="container main-content">

      <%= form_tag("/orders/oldorders", :method=>'get', :multipart => true) do %>
        Search a single date: 
        <%= date_select "thisdate", "", selected: Date.today %>
        <%= submit_tag "Search for orders" %>
      <% end %>
      
      <%= form_tag("/orders/oldorders", :method=>'get', :multipart => true) do %>
        Search a date range - Starting date:
        <%= date_select "startdate", "", selected: Date.today %>
        Ending date:
        <%= date_select "enddate", "", selected: Date.today %>
        <%= submit_tag "Search for orders" %>
      <% end %>
      
      
      <% if (@pending.nil? || @pending.size == 0) && (@cancelled.nil? || @cancelled.size == 0) && (@completed.nil? || @completed.size == 0) && (@refunded.nil? || @refunded.size == 0) %>
        <h1>No orders found!</h1>
      <% end %>
      
      <% if !@pending.nil? %>
        <h1>Pending Orders</h1>
        <%= render 'pending', orders: @pending %>
      <% end %>
      
      <% if !@completed.nil? %>
        <h1>Completed Orders</h1>
        <%= render 'completed', orders: @completed %>
      <% end %>
        
      <% if !@cancelled.nil? %>
        <h1>Cancelled Orders</h1>
        <%= render 'cancelled', orders: @cancelled %>
      <% end %>
    
      <% if !@refunded.nil? %>
        <h1>Refunded Orders</h1>
        <%= render 'refunded', orders: @refunded %>
      <% end %>
      
    </div>
  </div>
</body>