<%= render 'bars/top' %>

<%= form_tag("/orders/confirmorder", :method=>'post', :multipart => true) do %>

  <h1>Choose Options</h1>
  
  
  <% @items.each do |item| %>
    <%= @products.find(@orderlines.find(item).product_id).Name %><br>
    
    <% if @categories.find(@products.find(@orderlines.find(item).product_id).category_id).Splits == true then %>
      <%= "Split type" %>
      <% @splitp = item.to_s + "split" %>
      <%= select_tag @splitp, options_for_select(Orderline.splitstyles.keys {|k, v| [k.humanize, v]}) %><br>
      <% @opslist = [] %>
      <% @opslist.push(item.to_s + "options1[]") %>
      <% @opslist.push(item.to_s + "options2[]") %>
      <% @opslist.push(item.to_s + "options3[]") %>
      <% @opslist.push(item.to_s + "options4[]") %>
      <% (0..3).each do |b| %>
        <%= b %>
        <% @options.where(category_id: @products.find(@orderlines.find(item).product_id).category_id).each do |e| %>
          <tr>
            <td><%= check_box_tag @opslist[b], e.id %></td>
          </tr>
          <%= e.Name %>
        <% end %>
        <br>
      <% end %>
    <% else %>
      <% @options.where(category_id: @products.find(@orderlines.find(item).product_id).category_id).each do |e| %>
        <tr>
          <% @ops1 = item.to_s + "options[]" %>
          <td><%= check_box_tag @ops1, e.id %></td>
        </tr>
        <%= e.Name %>
      <% end %>
      <br>
    <% end %>
    <br>
  <% end %>
  
  <%= hidden_field_tag :ordernum, @ordernum %>
  <%= hidden_field_tag :items, @items %>
  
  <div class="actions">
      <%= submit_tag "Start New Order" %>
  </div>
  
  <%= link_to 'Trash This Order', orders_path %>
  
<% end %>