<style>
  @media print
  {    
      .no-print, .no-print *
      {
          display: none !important;
      }
  }
  .receipt {
    max-width: 200px;
    min-width: 100px;
    font-family: "Courier New", monospace;
    margin: 2px;
    font-size: 12px;
  }
  .item {
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    overflow: auto;
  }    
  .options {
    text-indent: 10px;
  }
  .head {
    font-size: 12px;
  }
  .bold {
    font-size: 20px;
  }
  .right{
    float: right;
  }
  .breakdown{
    margin: 0px 0px 0px 60px;
  }
  .lineitem{
    display:block;
    text-align: center;
    border-bottom: 1px dashed #000; 
    line-height: 1em;
    margin: 0px 5px 0px 5px;
  }

  .total{
    margin: 0px 0px 0px 30px;
  }
  
  h2 span { 
      background:#fff; 
      padding:0 10px; 
  }
  
</style>

<div class="receipt">
  <div class="head">
    <br><br>
    <%= "#" + @order.id.to_s %>
    <%= "Entered:" %>
    <%= @order.created_at.strftime("%l:%M%p") %>
    <br>
    
    <span class="bold"><%= "PUP" + (@order.created_at + 20.minutes).strftime("%l:%M %p") %></span>
        <%= @order.created_at.strftime("%x") %><br>
        
    <%= @customers.find(@order.customer_id).Phone.unpack('A3A3A4').join('-') %><br>

    <span class="bold">
      <%= @customers.find(@order.customer_id).LastName + ", " + @customers.find(@order.customer_id).FirstName %> <br>
    </span>
    
    <br>

  </div>
  
  <%= "Order" %>
  <span class="right">
    <%= "Line Price" %>
  </span>
  

  <% @orderlines.each do |a| %>
    <div class="item">
      <%= @products.find(a.product_id).Name %>
      <span class="right">
        <%= number_to_currency(a.ItemTotalCost) %>
      </span>
      
      <br>
      <% if a.whole? %> <%#list the options if the product is whole %>
        <% if a.Options1.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% a.Options1.each do |b| %>
            <%= @options.find(b).Abbreviation %>
          <% end %>
        <% end %>
        
      <% elsif a.halves? %> <%#list the options if the product is split in halves %>
        <span class="lineitem span">
          <%= "top" %>
        </span>
        <% if a.Options1.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% a.Options1.each do |b| %>
            <%= @options.find(b).Abbreviation %>
          <% end %>
        <% end %>
        <br>
        <span class="lineitem">
          <%= "bottom" %>
        </span>
        <% if a.Options2.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% a.Options2.each do |b| %>
            <%= @options.find(b).Abbreviation %>
          <% end %>
        <% end %>
        
      <% elsif a.quarters? %> <%#list the options if the product is split in halves %>
        <%= "Q1" %>
        <% if a.Options1.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% a.Options1.each do |b| %>
            <%= @options.find(b).Abbreviation %>
          <% end %>
        <% end %>
        <br><%= "Q2" %>
        <% if a.Options2.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% a.Options2.each do |b| %>
            <%= @options.find(b).Abbreviation %>
          <% end %>
        <% end %>
        <br><%= "Q3" %>
        <% if a.Options3.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% a.Options3.each do |b| %>
            <%= @options.find(b).Abbreviation %>
          <% end %>
        <% end %>
        <br><%= "Q4" %>
        <% if a.Options4.nil? %> 
          <%= "Plain" %>
        <% else %>
          <% a.Options4.each do |b| %>
            <%= @options.find(b).Abbreviation %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <div class="breakdown">
    <%= "Sub" %>
    <span class="right">
      <%= number_to_currency(@order.Subtotal).delete('$') %>
    </span>
    <br>
    
    <%= "Adj" %>
    <span class="right">
      <%= number_to_currency(@order.Discounts).delete('$') %>
    </span>
    <br>
    
    <%= "Tax" %>
    <span class="right">
      <%= number_to_currency(@order.Tax).delete('$') %>
    </span>
    <br>
    
    <%= "Dlv" %>
    <span class="right">
    </span>
    <br>
    
    
  </div>
  <div class="bold total">
    <%= "Total" %>
    <span class="right">
      <%= number_to_currency(@order.TotalCost) %>
    </span>
  </div>
    
    
  <% if @print == true %> <%# autoprint when the page loads if it loads from confirm order %>
  
    <div class = "printing" >
      <script>
      $("document").ready(function() {
        setTimeout(function() {
           window.print();
        },10);
      });
      </script>
    </div>
    
    <div class = "redirect after print" >
      <script>
      $("document").ready(function() {
        setTimeout(function() {
        window.location.replace("<%= orders_path %>");
        },500000);
      });
      </script>
    </div>
    
  <% else %> <%# print button, hide on the print sheet itself %>
  <div class="no-print">
    <br><br>
    <script>
    function printPage() {
        window.print()
    }
    </script>
    <%= link_to "print", "#", onclick: "printPage()" %>
  </div>

  <% end %>

<br><br>
</div>