<h1>
  <%= "Order #" %>
  <%= @order.id %><br>
</h1>

<%= "Orders completed:" %>  //prints out all orders of the day
<% if order.TimeOrdered == Date.today.to_s%> 
    <% if @order.PaidFor == true %>
	<%= @customers.find(@order.customer_id).FirstName %> <%= 	@customers.find(@order.customer_id).LastName %><br>
	<%= "Order time:" %>
	<%= @order.created_at %><br>
	<%= "Paid for:" %>
	<%= @order.PaidFor %><br>
	
  	<%= "Paid Cash or Credit:" %>
  	<% if @order.PaidCash == true %>
    		<%= "Cash" %>
  	<% else %>
    		<%= "Credit" %>
  	<% end %>
<% end %>

<%= "Orders pending:" %>  //prints out all orders of the day
<% if order.TimeOrdered == Date.today.to_s%> 
   <% if @order.PaidFor == false %>
	<%= @customers.find(@order.customer_id).FirstName %> <%= 	@customers.find(@order.customer_id).LastName %><br>
	<%= "Order time:" %>
	<%= @order.created_at %><br>
	<%= "Paid for:" %>
	<%= @order.PaidFor %><br>
	
  	
<% end %>


<%= "Today's sum: "%>
<% if order.TimeOrdered == Date.today.to_s%>   
	<%= order.sum(:AmountPaid)%>    
<% end %>

<%= "Cash Orders sum :"%>
<% if order.TimeOrdered == Date.today.to_s%>  
	<% if @order.PaidCash == true %> 
		<%= order.sum(:AmountPaid)%>  
	<% end %>  
<% end %>

<% end %>

<%= "Credit Orders sum :"%>
<% if order.TimeOrdered == Date.today.to_s%> 
	<% if @order.PaidCash == false %>  
		<%= order.sum(:AmountPaid)%> 
	<% end %>   
<% end %>

<% end %>


<% end %>


// for the date http://stackoverflow.com/questions/14990656/getting-the-current-date-in-rails-model
  
//sums up the payed row, referenced http://api.rubyonrails.org/classes/ActiveRecord/Calculations.html#method-i-sum
