
<style>
  @media print
  {    
      .no-print, .no-print *
      {
          display: none !important;
      }
  }
  h3 {
    font-size: 30px;
    color: black;
    text-align: center;
  }
  h1 {
    font-size: 20px;
    color: black;
    padding: .4em;
  }
  td {
    padding: .2em .8em;
  }
  th {
    padding: .2em .8em;
  }
  p {
    padding: .2em .8em;
    font-size: 1em;
  }
  .line {
    position: relative;
    padding: .2em 0em;
    display: block;
  }
</style>

        <h3>
          <%= DateTime.now.strftime("%B %d, %Y")%><br>
          <%= "End of Day" %>
        </h3>
        
        <% if !@pending.empty? %>
          <h1>Pending Orders - This should not appear!</h1>
        
          <table>
            <thead>
              <tr>
                <th><%= "Order Number" %></th>
                <th><%= "Ordered by" %></th>
                <th><%= "Time" %></th>
                <th><%= "User" %></th>
                <th><%= "Paid with" %></th>
                <th><%= "Subtotal" %></th>
                <th><%= "Delivery Charge " %></th>
                <th><%= "Tip" %></th>
                <th><%= "Discount" %></th>
                <th><%= "Tax" %></th>
                <th><%= "Total" %></th>
              </tr>
            </thead>
          
            <tbody>
              <% @pending.each do |order| %>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= @customers.find(order.customer_id).FirstName %> <%= @customers.find(order.customer_id).LastName %><br></td>
                  <td><%= order.created_at %></td>
                  <td><%= User.find(order.user_id).Name %><br></td>
                  <% if order.PaidCash == true %>
                    <td><%= "Cash" %><br></td>
                  <% else %>
                    <td><%= "Credit" %><br></td>
                  <% end %>
                  <td><%= order.Subtotal %><br></td>
                  <td><%= order.DeliveryCharge %></td>
                  <td><%= order.Tip %></td>
                  <td><%= order.Discounts %><br></td>
                  <td><%= order.Tax %><br></td>
                  <td><%= order.TotalCost %><br></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
          <p>
            <% x = 0 %>
            <span class="line">
              <%= "Subtotal for all: " %>
              <%= @subtotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Tax for all: " %>
              <%= @taxtotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Delivery Charge for all: " %>
              <%= @dlvtotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Tips for all: " %>
              <%= @tiptotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Totals for all: " %>
              <%= @tottotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Discount totals for all: " %>
              <%= %><br>
            </span>
            <span class="line">
              <%= "Cash totals for all: " %>
              <%= @cashtotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Credit for all: " %>
              <%= @credittotal[x].to_s %><br>
            </span>
          </p>
          
        <% end %>
        
        <% if !@completed.empty? %>
          <h1>Completed Orders</h1>
        
          <table>
            <thead>
              <tr>
                <th><%= "Order Number" %></th>
                <th><%= "Ordered by" %></th>
                <th><%= "Time" %></th>
                <th><%= "User" %></th>
                <th><%= "Paid with" %></th>
                <th><%= "Subtotal" %></th>
                <th><%= "Delivery Charge " %></th>
                <th><%= "Tip" %></th>
                <th><%= "Discount" %></th>
                <th><%= "Tax" %></th>
                <th><%= "Total" %></th>
              </tr>
            </thead>
          
            <tbody>
              <% @completed.each do |order| %>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= @customers.find(order.customer_id).FirstName %> <%= @customers.find(order.customer_id).LastName %><br></td>
                  <td><%= order.created_at %></td>
                  <td><%= User.find(order.user_id).Name %><br></td>
                  <% if order.PaidCash == true %>
                    <td><%= "Cash" %><br></td>
                  <% else %>
                    <td><%= "Credit" %><br></td>
                  <% end %>
                  <td><%= order.Subtotal %><br></td>
                  <td><%= order.DeliveryCharge %></td>
                  <td><%= order.Tip %></td>
                  <td><%= order.Discounts %><br></td>
                  <td><%= order.Tax %><br></td>
                  <td><%= order.TotalCost %><br></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
          <p>
            <% x = 1 %>
            <span class="line">
              <%= "Subtotal for all: " %>
              <%= @subtotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Tax for all: " %>
              <%= @taxtotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Delivery Charge for all: " %>
              <%= @dlvtotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Tips for all: " %>
              <%= @tiptotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Totals for all: " %>
              <%= @tottotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Discount totals for all: " %>
              <%= %><br>
            </span>
            <span class="line">
              <%= "Cash totals for all: " %>
              <%= @cashtotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Credit for all: " %>
              <%= @credittotal[x].to_s %><br>
            </span>
          </p>
          
        <% end %>
        
        <% if !@cancelled.empty? %>
          <h1>Cancelled Orders</h1>
        
          <table>
            <thead>
              <tr>
                <th><%= "Order Number" %></th>
                <th><%= "Ordered by" %></th>
                <th><%= "Time" %></th>
                <th><%= "User" %></th>
                <th><%= "Paid with" %></th>
                <th><%= "Subtotal" %></th>
                <th><%= "Delivery Charge " %></th>
                <th><%= "Tip" %></th>
                <th><%= "Discount" %></th>
                <th><%= "Tax" %></th>
                <th><%= "Total" %></th>
              </tr>
            </thead>
          
            <tbody>
              <% @cancelled.each do |order| %>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= @customers.find(order.customer_id).FirstName %> <%= @customers.find(order.customer_id).LastName %><br></td>
                  <td><%= order.created_at %></td>
                  <td><%= User.find(order.user_id).Name %><br></td>
                  <% if order.PaidCash == true %>
                    <td><%= "Cash" %><br></td>
                  <% else %>
                    <td><%= "Credit" %><br></td>
                  <% end %>
                  <td><%= order.Subtotal %><br></td>
                  <td><%= order.DeliveryCharge %></td>
                  <td><%= order.Tip %></td>
                  <td><%= order.Discounts %><br></td>
                  <td><%= order.Tax %><br></td>
                  <td><%= order.TotalCost %><br></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
          <p>
            <% x = 2 %>
            <span class="line">
              <%= "Subtotal for all: " %>
              <%= @subtotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Tax for all: " %>
              <%= @taxtotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Delivery Charge for all: " %>
              <%= @dlvtotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Tips for all: " %>
              <%= @tiptotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Totals for all: " %>
              <%= @tottotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Discount totals for all: " %>
              <%= %>
            </span>
            <span class="line">
              <%= "Cash totals for all: " %>
              <%= @cashtotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Credit for all: " %>
              <%= @credittotal[x].to_s %><br>
            </span>
          </p> 
        
        <% end %>
        
        <% if !@refunded.empty? %>
          <h1>Refunded Orders</h1>
        
          <table>
            <thead>
              <tr>
                <th><%= "Order Number" %></th>
                <th><%= "Ordered by" %></th>
                <th><%= "Time" %></th>
                <th><%= "User" %></th>
                <th><%= "Paid with" %></th>
                <th><%= "Subtotal" %></th>
                <th><%= "Delivery Charge " %></th>
                <th><%= "Tip" %></th>
                <th><%= "Discount" %></th>
                <th><%= "Tax" %></th>
                <th><%= "Total" %></th>
              </tr>
            </thead>
          
            <tbody>
              <% @refunded.each do |order| %>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= @customers.find(order.customer_id).FirstName %> <%= @customers.find(order.customer_id).LastName %><br></td>
                  <td><%= order.created_at %></td>
                  <td><%= User.find(order.user_id).Name %><br></td>
                  <% if order.PaidCash == true %>
                    <td><%= "Cash" %><br></td>
                  <% else %>
                    <td><%= "Credit" %><br></td>
                  <% end %>
                  <td><%= order.Subtotal %><br></td>
                  <td><%= order.DeliveryCharge %></td>
                  <td><%= order.Tip %></td>
                  <td><%= order.Discounts %><br></td>
                  <td><%= order.Tax %><br></td>
                  <td><%= order.TotalCost %><br></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
          <p>
            <% x = 3 %>
            <span class="line">
              <%= "Subtotal for all: " %>
              <%= @subtotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Tax for all: " %>
              <%= @taxtotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Delivery Charge for all: " %>
              <%= @dlvtotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Tips for all: " %>
              <%= @tiptotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Totals for all: " %>
              <%= @tottotals[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Cash totals for all: " %>
              <%= @cashtotal[x].to_s %><br>
            </span>
            <span class="line">
              <%= "Credit totals for all: " %>
              <%= @credittotal[x].to_s %><br>
            </span>
          </p>
          
        <% end %>
        
        <br>
        <h1>Products sold</h1>
        <% if @rows.size > 0 %>
          <table>
            <tr>
              <th><%= "Product" %></th>
              <th><%= "Count" %></th>
              <th><%= "Total Revenue" %></th>
            </tr>
            
          <% @rows.each do |this| %>
            
            <tr>
              <td><%= Product.find(this[0]).Name %></td>
              <td><%= this[1] %></td>
              <td><%= this[2].to_s %></td>
            </tr>
                
          <% end %>
                
          </table>
        <% end %>
      
      <div class="no-print">
        <br><br>
        <script>
        function printPage() {
            window.print()
        }
        </script>
        <%= link_to "print", "#", onclick: "printPage()" %>
        <%= link_to "back", management_path %>
      </div>

