<style>
  @media print
  {    
      .no-print, .no-print *
      {
          display: none !important;
      }
  }
  h3 {
    font-size: 30px;
    color: black;
    text-align: center;
  }
  h1 {
    font-size: 20px;
    color: black;
    padding: .4em;
    border-bottom: none;
  }
  td {
    padding: .2em .8em;
  }
  th {
    padding: .2em .8em;
  }
  p {
    padding: .2em .8em;
    font-size: 1em;
  }
  .line {
    position: relative;
    padding: .2em 0em;
    display: block;
  }
</style>

<% if @reporttype == 'overall sales' %>

  <h3>
    <%= "Overall Sales For " + @date1.strftime("%B %d, %Y") + " to " + @date2.strftime("%B %d, %Y") %>
  </h3>
  
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Type of Order</th>
          <th>Amount</th>
          <th>Total Charge</th>
          <th>Tax</th>
          <th>Tips</th>
          <th>Delivery Charges</th>
          <th>Total Revenue</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Complete Orders</td>
          <td><%= @completed.count %></td>
          <td><%= number_to_currency @totalcharges %></td>
          <td><%= number_to_currency @totaltax %></td>
          <td><%= number_to_currency @totaltip %></td>
          <td><%= number_to_currency @totaldelivery %></td>
          <td><%= number_to_currency @totalrevenue %></td>
        </tr>
        <tr>
          <td>Cancelled Orders</td>
          <td><%= @cancelled.count %></td>
          <td><%= number_to_currency @cancelledcharges %></td>
          <td><%= number_to_currency @cancelledtax %></td>
          <td><%= number_to_currency @cancelledtip %></td>
          <td><%= number_to_currency @cancelleddelivery %></td>
          <td><%= number_to_currency @cancelledrevenue %></td>
        </tr>
        <tr>
          <td>Refunded Orders</td>
          <td><%= @refunded.count %></td>
          <% if !@totalrefunded.empty? %>
            <td><%= number_to_currency @totalrefunded.rows[0][0].to_s %></td>
            <td><%= number_to_currency @taxtotalrefunded.rows[0][0].to_s %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%= number_to_currency @revenuerefunded %></td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <p>
      <h1>
        Average Order Subtotal: <%= number_to_currency @orderavg %>
      </h1>
      <h1>
        Average items per order: <%= @orderavgitems.rows[0][0] %>
      </h1>
    </p>
  </div>
  




<% elsif @reporttype = 'product total sales' %>
  <div class="container">
    <h3>
      <%= "Product Sales For " + @date1.strftime("%B %d, %Y") + " to " + @date2.strftime("%B %d, %Y") %>
    </h3>
    
    <% if @rows.size > 0 %>
      <table class="table">
        <tr>
          <th><%= "Product" %></th>
          <th><%= "Count" %></th>
          <th><%= "Total Revenue" %></th>
        </tr>
        
      <% @rows.each do |this| %>
        
        <tr>
          <td><%= Product.find(this[0]).Name %></td>
          <td><%= this[1] %></td>
          <td><%= this[2].to_s %></td>
        </tr>
            
      <% end %>
            
      </table>
    <% end %>
  </div>
<% end %>


  
<div class="no-print">
  <br><br>
  <script>
  function printPage() {
      window.print()
  }
  </script>
  <%= link_to "Print", "#", onclick: "printPage()", class: "btn btn-primary" %>
  <%= link_to "Back", management_path, class: "btn btn-primary" %>
</div>