<%= form_for(cap) do |f| %>
  <% if cap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cap.errors.count, "error") %> prohibited this cap from being saved:</h2>

      </ul>
    </div>
    <% end %>
  <div class="form-group">
    <%= label_tag :role_id %>
    <%= select_tag :role_id, options_from_collection_for_select(@roles, :id, :name), {:class => 'form-control'} %>

    <%= label_tag :ability %>
    <%= select_tag :ability, options_for_select({"View" => "view","Create" => "create", "Edit" => "edit", "Cancel" => 'cancel', "Destroy" => "destroy", "All" => "all"},), {:class => 'form-control'} %>

    <%= label_tag :object %>
    <%= select_tag :object, options_for_select({"Orders" => "orders", "Customers" => "customers", "Users" => "users", "Products" => "products", "Options" => "options", "Coupons" => 'coupons', "Orderlines" => 'orderlines', "Roles" => "roles", "Capabilities" => "capabilities", "Configurations" => 'configurations', "Management" => 'management', "All" => "all"}), {:class => 'form-control'} %>
  </div>
  <div class="actions">
    <%= button_tag class: "btn btn-primary" do %><span class="glyphicon glyphicon-floppy-disk"></span> Save Capability<% end %>
  </div>
<% end %>
