<%= render 'bars/top2' %>

<div class="wrapper has-sidebar-left">
  <%= render 'sidebars/rolesside' %>
  <div class="container main-content">
  <p id="notice"><%= notice %></p>

  <h1>Capabilities</h1>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Role</th> 
          <th>Action</th>
          <th>Object</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <div class="role-checkboxes">
      </div>
        <% @caps.each do |cap| %>
          <tr>
            <td><%= Role.find(cap.role_id).name %></td>
            <td><%= cap.action %></td>
            <td><%= cap.object %></td>
            <td><%= link_to edit_cap_path(cap), { class: 'btn btn-primary'} do %><span class="glyphicon glyphicon-pencil"></span> Edit<% end %></td>
            <td><%= link_to cap, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-primary' do %><span class="glyphicon glyphicon-trash"></span> Delete<% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  </div>
</div>
