<%= form_for(orderline) do |f| %>
  <% if orderline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orderline.errors.count, "error") %> prohibited this orderline from being saved:</h2>

      <ul>
      <% orderline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :belongs_to %>
    <%= f.text_field :belongs_to %>
  </div>

  <div class="field">
    <%= f.label :ProductParentID %>
    <%= f.number_field :ProductParentID %>
  </div>

  <div class="field">
    <%= f.label :Options %>
    <%= f.text_field :Options %>
  </div>

  <div class="field">
    <%= f.label :ItemTotalCost %>
    <%= f.text_field :ItemTotalCost %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
