<%= render 'bars/top2' %>

<body>
  <div class="wrapper has-sidebar-left">
    <%= render 'sidebars/productside' %>
    <div class="container main-content">

      <h1>Editing Product</h1>
    <% # Check capabilities
      if ( !logged_in? || !current_user.can?("edit", "products")) %>
      <p> Sorry, you don't have the capabilities to do that</p>
      <% else %>
      <%= form_for(@product) do |f| %>
        <% if @product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      
            <ul>
            <% customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="form-group">
          <%= f.label :Name, class: "form-group-header" %>
          <%= f.text_field :Name, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :Cost, class: "form-group-header" %>
          <%= f.text_field :Cost, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label "Free Options", class: "form-group-header" %><br>
          <div class="form-checkboxes">
            <%= f.collection_check_boxes(:freeoptions, @options.each, :id, :Name, checked: @product.freeoptions) do |b| %>
              <%= b.label(class: "my-#{ b.object.class.name.parameterize }", 'data-value': b.value) { b.check_box + b.text } %>
            <% end %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :category_id, class: "form-group-header" %><br>
          <%= f.collection_select(:category_id, Category.all, :id, :Name) %>
        </div>
        
        <div class="field form-group">
          <%= f.label :MinimumOptionCharge %>
          <%= f.text_field :MinimumOptionCharge, :class => "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :Abbreviation, class: "form-group-header" %>
          <%= f.text_field :Abbreviation, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :Favorite, class: "form-group-header" %>
          <%= f.check_box :Favorite, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :FavoritePriority, class: "form-group-header" %>
          <%= f.text_field :FavoritePriority, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= button_tag class: "btn btn-primary" do %><span class="glyphicon glyphicon-floppy-disk"></span> Save Product<% end %>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</body>