<!DOCTYPE html>
<html>
  <head>
    <title>PalermoPOS</title>
    <%= csrf_meta_tags %>
    
    <%= growlyflash_static_notices %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|PT+Sans:400,400i,700" rel="stylesheet">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  	<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    
  </head>

  <body> 
    <%= yield %>
  </body>
</html>
